.signup__image--container {
    background-image: url(https://app.askaway.io/public/assets/img/login-img.png);
    height: 100vh;
    background-size: cover;
}

.signup__form--container,
.login__form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login__image--container {
    background-image: url(https://dotnetworkbd.net/uploaded/setting/1675694989login_63e1138d16d04.jpg);
    height: 100vh;
    background-size: cover;
}

@media screen and (max-width: 756px) {
    .login__image--container,
    .signup__image--container {
        display: none;
    }
}
